@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,800');

@font-face {
  font-family: 'Motherline';
      src: url('/fonts/MotherlineBlocks.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
}

@font-face {
  font-family: 'Motherline';
      src: url('/fonts/MotherlineBold.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
}

@font-face {
  font-family: 'Motherline';
      src: url('/fonts/MotherlineRegular.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
}
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}
html {
    overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 20px;
}

ul {
  list-style: none;
}

ul li {
  list-style: none;
}

input {
  -webkit-appearance: none;
}

#wrap {
  position: relative;
  overflow: hidden;
}

/* Header Section
======================*/
#header_top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: absolute;
  background-color: rgba(20, 20, 20, 0.4) !important;
  padding-bottom: 70px;
  z-index: 2;
}

#header_inside {
  top: 0;
  position: absolute;
  width: 100%;
  height: 130px;
  background-color: #EB2439;
  z-index: 1;
}

.main_logo_white {
  top: 10px;
  left: 20px;
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}

.main_logo_white img {
  width: 300px;
  height: auto;
}

.main_nav_inside {
  margin: 0 auto;
  right: 0;
  margin-top: -126px;
  position: relative;
  z-index: 1;
}

.main_nav_inside  ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  right: 0;
  height: 130px;
}

.main_nav_inside  ul.parent li {
  display: inline-block;
  pointer-events: inherit;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 51px;
  padding-bottom: 53px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;

}

.main_nav_inside  ul li a {
  color: #ffffff;
  z-index: 5;
}
.main_nav_inside ul li:hover {
  background-color: #151515;
}

ul.parent li ul.inside_dropdown li {
  display: none;
  z-index: 3;
}
.main_nav_inside ul.parent li:hover ul.inside_dropdown {
  margin-top: 42px;
  z-index: 2 !important;
  display: block;
}

.main_nav_inside ul.parent li:hover ul.inside_dropdown li {
  display: block !important;
  top: 42px;
  list-style-type: none;
  min-width: 200px;
  text-align: left;
  top: 11px !important;
  margin-left: -92px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 8px;
  padding: 15px 10px;
  background-color: #2F2F2F;
  top: 38px;
  height: auto;
  z-index: 2 !important;
  color: #ffffff;
  float: left;
  clear: left;
}

.main_nav_inside ul li:hover ul.inside_dropdown li:hover > a {
  border-bottom: 2px solid #EB2439;
  line-height: 8px;
}

.main_nav_inside ul li:hover ul.inside_dropdown li a:hover {
  border-bottom: 2px solid #EB2439;
  line-height: 8px;
}

.main_logo {
  top: 10px;
  left: 20px;
  position: relative;
  z-index: 1;
}

.main_logo img {
  width: 300px;
  height: auto;
}

.main_nav {
  margin: 0 auto;
  right: 0;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.main_nav ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  right: 0;
  float: right;
}

.main_nav ul.parent li {
  display: inline-block;
  pointer-events: inherit;
  float: left;
  position: relative;
  padding-right: 3em;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;

}

.main_nav ul li a {
  color: #ffffff;
}

.main_nav ul.parent li:hover > a {
  padding-bottom: 5px;
  border-bottom: 7px solid #EB2439;
}

ul.parent li ul.dropdown li {
  display: none;
}

.main_nav ul.parent li:hover ul.dropdown li {
  display: block;
  list-style-type: none;
  min-width: 200px;
  text-align: left;
  top: 11px !important;
  margin-left: -92px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 8px;
  padding: 15px 10px;
  background-color: #151515;
  top: 38px;
  height: auto;
  color: #ffffff;
  float: left;
  clear: left;
}

.main_nav ul li:hover ul.dropdown li:hover > a {
  border-bottom: 2px solid #EB2439;
  line-height: 8px;
}

.main_nav ul li:hover ul.dropdown li a:hover {
  border-bottom: 2px solid #EB2439;
  line-height: 8px;
}
/* Slider
===============*/
.slider_container {
  top: 0px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.slider img {
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  left: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.slider ul {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.slider #text {
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  position: absolute;
  top: 40%;
  font-family: 'Motherline', sans-serif;
  font-weight: 400;
  font-size: 10vw;
  color: #ffffff;
}

.slider_button a {
  margin: 0 auto;
  display: block;
  font-size: 2vw;
  font-weight: 400;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 65%;
  color: #ffffff;
  padding: 5px 10px;
  border: 2px solid #ffffff;
  width: 20%;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

.slider_button a:hover {
  transition: 0.3s ease-in-out;
  background-color: #EB2439;
  border: 2px solid #EB2439;
}

.main_content {
  position: relative;
  min-height: 800px;
  height: 100%;
  width: 100%;
  margin-top: 150px;
  background-color: #ffffff;
}

/* Slider Buttons
===============*/
.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: none;
    visibility: hidden;
    position: relative;
    top: 40px;
    width: 100%;
}

 #buttons {
padding:0 0 5px 0;
float:right;
}

#buttons a {
text-align:center;
display:block;
font-size:50px;
float:left;
outline:0;
margin:0 60px;
color:#b14943;
text-decoration:none;
display: none;
padding:9px;
width:35px;
}

a#prev:hover, a#next:hover {
color:#FFF;
text-shadow:.5px 0px #b14943;
}
/* Home Section
======================*/
#homesection {
  display: table;
  table-layout: fixed;
  width:100%;
  background-color:Gray;
  top: -104px;
  margin-bottom: -104px;
  position: relative;
  border-top: 8px solid #EB2439;
}

#homesection a div {
  display: table-cell;
  min-width: 25%;
  min-height:260px;
}

a .box_text {
  font-family:'Raleway';
  font-weight: 800;
  font-size: 3vw;
  color: #ffffff !important;
  text-shadow: 3px 3px 10px #151515;
  top: 40% !important;
  text-align:center;
  position: absolute;
  text-transform: uppercase;
  text-decoration: none;
}

a #sermons_block {
  position: inherit;
  left: 0;
  top: 0;
  float: left;
  min-width: 225px;
  min-height:460px;
  background-color: #151515 !important;
  background: url(http://dev.sulphurspringsumc.com/images/media/sermon.jpg);
  background-size: cover;
  overflow: hidden;
  transition: 3s ease-in-out;
}

a:hover #sermons_block {
  left: 0;
  top: 0;
  float: left;
  background: linear-gradient( rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0.8) ), url(http://dev.sulphurspringsumc.com/images/media/sermon.jpg);
  background-color: #151515;
  background-size: cover;
  overflow: hidden;
  transition: 3s ease-in-out;
}

a #events_block {
  position: inherit;
  background: url(http://dev.sulphurspringsumc.com/images/media/event.jpg);
  background-size: cover;
  left: 0;
  top: 0;
  min-width: 200px;
  float: left;
  min-height:460px;
  background-color: #151515;
}

a:hover #events_block {
  left: 0;
  top: 0;
  float: left;
  background: linear-gradient( rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0.8) ), url(http://dev.sulphurspringsumc.com/images/media/event.jpg);
  background-color: #151515;
  background-size: cover;
  overflow: hidden;
  transition: 3s ease-in-out;
}

a #serve_block {
  position: inherit;
  background-image: url(http://dev.sulphurspringsumc.com/images/media/missions3.jpeg);
  background-size: cover;
  background-color: rgba(21, 21, 21, 1);
  left: 0;
  top: 0;
  min-width: 200px;
  float: left;
  min-height:460px;
  background-color: #151515;
}

a:hover #serve_block {
  left: 0;
  top: 0;
  float: left;
  background: linear-gradient( rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0.8) ), url(http://dev.sulphurspringsumc.com/images/media/missions3.jpeg);
  background-color: #151515;
  background-size: cover;
  overflow: hidden;
  transition: 3s ease-in-out;
}

a #belong_block {
  position: inherit;
  background-image: url(http://dev.sulphurspringsumc.com/images/media/belong-3.jpg);
  background-size: cover;
  left: 0;
  top: 0;
  min-width: 200px;
  float: left;
  min-height:460px;
  background-color: #151515;
}

a:hover #belong_block {
  left: 0;
  top: 0;
  float: left;
  background: linear-gradient( rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0.8) ), url(http://dev.sulphurspringsumc.com/images/media/belong-3.jpg);
  background-color: #151515;
  background-size: cover;
  overflow: hidden;
  transition: 3s ease-in-out;
}

/* Inside Pages
===============*/
.inside_cover {
  position: relative;
  margin-top: 130px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.inside_bg_cover {
  position: relative;
  background-color: rgba(21, 21, 21, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  z-index: -1;
}
.inside_bg_cover  img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: 100%;
  opacity: .4;
  overflow: cover;
  position: relative;
  display: block;
}

#inside_title h1{
  top: 1.5em;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4em;
  padding-bottom: 30px;
  color: #ffffff;
}

#inside_wrap {
  position: relative;
  height: auto;
  min-height: 400px;
  background-color: #ffffff;
}

.crumbs li {
  list-style-type: none;
  float: left;
  padding-bottom: 20px;
  display: block;
  font-size: 15px;
  color: #696969;
  font-weight: 300;
}
.crumbs li a {
  color: #696969;
}

.crumbs li a:hover {
  color: #151515;
  border-bottom: 2px solid #151515;

}
.crumbs li:after {
  content:"|";
  padding: 0px 10px;
}
.crumbs li:last-child:after {
  content:"";
}

#content {
  top: 0;
  width: 100%;
  min-height: 400px;
  height: auto;
  padding-bottom: 50px;
  position: relative;
  clear: both;
}

#content p {
  text-align: left !important;
  font-size: 14px;
  font-weight: 300;
}
#content img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}
#content p a {
  color: #EB2439;
  text-decoration: none;
  padding-bottom: 0.25px;
}

#content p a:hover {
  color: #000000;
  border-bottom: 1.5px solid #000000;
  text-decoration: none;
}
.container {
  top: 60px;
  padding-left: 35px;
  padding-right: 20px;
  padding-bottom: 40px;
  display: inline-block;
  position: relative;
  width: 70%;
  height: auto;
  clear:both;
}

.container h2 {
  top: -30px;
  margin: 0;
  position: relative;
}

.discover_box_container {
  position: relative;
  display: block;
  top: 20px;
  margin-top: 20px;
  right: 20px;
  width: 17rem;
  max-width: 17rem;
  height: auto;
  float: right;
  clear:both;

}
.discover_box {
  position: relative;
  float: right;
  background-color: #e3e3e3;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 40%;
  border: 2px solid #c1c1c1;
  border-radius: 10px;
}
.discover_box h1 {
  top: -13px;
  position: relative;
  color: #ffffff;
  background-color: #151515;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 400;
}

.discover_box ul li a {
  display: block;
  position: relative;
  top: -10px;
  margin-top: 0px !important;
  margin-bottom: 10px;
  padding-bottom: 1px !important;
  margin-left: -20px;
  font-size: 18px;
  text-decoration: none;
  color: #151515;
}

.discover_box ul li a:hover {
  text-decoration: underline;
}

.map {
  position: relative;
  top: 0;
  display: block;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}

#body_image img {
  width: auto;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
}

#outline a {
  text-decoration: none;
  color: #151515;
}
#outline a:hover {
  text-decoration: none;
  color: #EB2439;
  padding-bottom: 1px;
  border-bottom: 1px solid #151515;
}
/* Events Section
======================*/
#calendar_pdf {
  position: relative;
  display: block;
  top: -50px;
  float: right;
  z-index: 2;
}

#calendar_pdf a {
  color: #151515;
}

#event_graphic {
  position: relative;
  float: left;
  left: 0;
  padding-right: 15px;
  display: block;
}

#event_graphic img {
  width: 175px;
  height: auto;
}

/* Staff Section
======================*/
.staff_member {
  text-align: center;
  width: 220px;
  left: 0;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 30px;
}
#profile img {
  margin: 0 auto;
  right: 0;
  top: 0;
  position: relative;
  left: 0;
  padding-bottom: 20px;
  display: block;
  width: 150px;
  height: auto;
}

#full_name {
  top: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

#title {
  top: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  position: relative;
}

#bio {
  top: 0;
  float: left;
  text-align: center;
  font-size: 14px;
  position: relative;

}

#staff_email {
  top: 0;
  float: left;
  text-align: center;
  font-size: 14px;
  position: relative;
  text-decoration: none;
}

#staff_email a {
  color: #151515;
  float: left;
  top: 0;
  padding-bottom: 1px;
  border-bottom: 2px solid #151515;
  text-decoration: none;
}

#ministry_team {
  margin: 0 auto;
  text-align: left;
  width: 300px;
  left: 0;
  right: 0;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 30px;
}

#ministry_team h4 {
  top: 0;
  text-align: left;
  position: relative;
}

#team_leader {
  top: 0;
  left: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

#team_title {
  top: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

/* Forms
======================*/

.form_container {
  top: 20px;
  left: 20px;
  margin-bottom: 30px;
}

form {
  margin-bottom: 40px;
}

input.name, input.emailaddress, textarea.message {
  outline: none;
  margin-bottom: 20px;
  min-width: 200px;
  display: block;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  background: -webkit-linear-gradient(bottom, #e3e3e3, #ffffff);
}
input.name:focus, input.emailaddress:focus, textarea.message:focus {
  outline: none;
  border: 2px solid #EB2439;
}


textarea.message {
  top: 0;
  width: 400px;
  height: auto;
  min-height: 400px;
}

input.submit {
  background-color: #151515;
  padding: 10px 20px;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

input.submit:hover {
  background-color: #EB2439;
  cursor: pointer;
}

/* Footer Section
======================*/
footer {
  display: block;
}
.footer {
  padding-top: 40px;
  left: 0;
  min-height: 500px;
  height: auto;
  width: 100%;
  color: #ffffff;
  display: block;
  font-size: 14px;
  background-color: #151515 !important;
  text-align: center;
  border-top: 8px solid #EB2439;
}
.footer-container {
  margin: 0 auto;
  left:0;
  right: 0;
  min-width: 60%;
  float: right;
  width: 80%;
  position: relative;
}

.footer a {
  color: #ffffff;
}

.footer h3 {
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 400;
}

.footer ul li a {
  font-weight: 100 !important;
  font-size: 14px;
  line-height: 3;
}

#first-column {
  float: left;
  left: 30px;
  text-align: left;
  font-size: 12px;
  position: relative;
  padding-bottom: 20px;
}

#first-column p {
  font-size: 12px;
  text-align: left;
  line-height: 8px;
}

#divider {
  top: 15px;
  width: 1px;
  height: 300px;
  background-color: #ffffff;
  position: absolute;
  float: left;
  left: 275px;
}

#second-column {
  float: left;
  left: 90px;
  width: 20%;
  min-width: 200px;
  display: block;
  text-align: left;
  font-size: 12px;
  position: relative;
  padding-bottom: 20px;
}

#second-column p {
  font-size: 12px;
  text-align: left;
  line-height: 8px;
}

#third-column {
  float: left;
  left: 90px;
  width: 20%;
  display: block;
  min-width: 200px;
  text-align: left;
  font-size: 12px;
  position: relative;
  padding-bottom: 20px;
}

#third-column p {
  font-size: 12px;
  text-align: left;
  line-height: 8px;
}

#forth-column {
  float: left;
  left: 90px;
  width: 20%;
  display: block;
  min-width: 200px;
  text-align: left;
  font-size: 12px;
  position: relative;
  padding-bottom: 20px;
}

#fifth-column p {
  font-size: 12px;
  text-align: left;
  line-height: 20px !important;
  padding-bottom: 10px;
}

#fifth-column {
  float: left;
  width: 20%;
  min-width: 200px;
  left: 130px;
  display: block;
  text-align: left;
  font-size: 12px;
  position: relative;
  padding-bottom: 20px;
}

input.mc_email {
  outline: none;
}

input.mc_email::placeholder  {
  color: #95989A;
}
input.mc_submit {
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #EB2439;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  position: absolute;
}

input.mc_email {
  background-color: #ffffff;
  padding:10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  color: #151515;

}

#fifth-column p {
  font-size: 12px;
  text-align: left;
  line-height: 8px;
}

#copyright {
  bottom: 0;
  left: 0;
  right: 0;
  color: #626262;
  font-size: 12px;
  position: absolute;
  padding-bottom: 10px;
}

#copyright a {
  color: #626262;
}

/* Mobile Section
======================*/
/* iPhone 6 & 7 - Portait and Landscape */
@media only screen
and (min--width : 375px)
and (max-width : 667px) {
  #header_top {
    background-color: #151515 !important;
    height: 60px;
  }

  .main_logo {
    left: 20px;
    top: 20px;
  }

  .main_logo img {
    width: 200px;
    height: auto;
    display: block;
    min-width: none;
  }

  .slider_container {
    top: 130px;
    position: relative;
    height: 100%;
  }

  #homesection {
    display: block;
    margin-top: 225px;
    width: 100%;
    min-height: 300px;
    position: relative;
  }

  #homesection a div {
    display: block;
    width: 100%;
    height: 300px;
  }
  .discover_box_container {
    display: none !important;
    visibility: hidden;
  }

  .container {
    width: 90%;
    left: 0;
    right: 0;
    padding: 0px 30px;
  }

  #divider {
    top: 500px;
    border: 0.5px solid #ffffff;
    width: 50%;
    height: 1px;
    position: absolute;
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .footer {
    height: 800px;
  }
  footer div {
    margin: 0 auto;
  }

  #first-column {
    position: absolute;
    margin: 0 auto;
    left:0;
    right: 0;
    width: 100%;
  }

  #first-column h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  #first-column p, #first-column a {
    font-size: 1rem;
  }

  #first-column h3, #first-column p, #first-column a {
    margin: 0 auto;
    line-height: 20px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  #second-column, #third-column, #forth-column {
    display: none;
  }

  #fifth-column {
    top: 550px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    float:none;
  }
}
@media only screen
and (max-width : 1090px) {

  .slider_button a {
    font-size: 4vw;
    width: 40%;
  }
  .menu_bar {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    float: right;
    top: 40px;
    right: 0;
    padding-right: 20px;
    z-index: 500;
  }
  .menu_bar_inside {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    float: right;
    top: 40px;
    right: 0;
    padding-right: 20px;
    z-index: 500;
  }

  .bar1, .bar2, .bar3 {
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    margin: 10px 0;
    transition: 0.4s;
  }

  .bar2 {
    width: 30px !important;
  }

    /* Rotate first bar */
  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate( -10px, 6px) ;
      transform: rotate(-45deg) translate( -10px, 6px) ;
  }

  /* Fade out the second bar */
  .change .bar2 {
      opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-12px, -8px) ;
      transform: rotate(45deg) translate(-12px, -8px) ;
  }
  .main_nav {
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    display: none;
  }

  .main_nav ul.parent li {
    float: left;
    top: 82px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: auto;
    display: block;
  }

  .main_nav ul {
    margin: 0 auto;
    width: 100%;
  }

  .main_nav ul.parent > li a {
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 400;
    background-color: #151515;
    width: 100%;
    height: auto;
    display: block;
  }

  .main_nav ul.parent li > ul.dropdown {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    position: relative;
    font-weight: 400;
    font-size: 25px;
    background-color: #EB2439 !important;
    height: auto;
    color: #ffffff;
  }

  .main_nav ul.parent li > ul.dropdown li {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    position: relative;
    font-weight: 400;
    font-size: 25px;
    background-color: #EB2439 !important;
    height: auto;
    color: #ffffff;
  }
  .main_nav ul.parent li:hover > a {
    border-bottom: 0px solid #EB2439;
  }
  .main_nav ul.dropdown li a {
    margin: 0 auto;
    width: 100%;
    font-size: 25px;
    position: relative;
    background-color: #EB2439;
    left: 80px;
    right: 0;
    width: 100%;
    height: auto;
  }

  .main_nav ul li:hover ul.dropdown li:hover > a {
    border-bottom: 0px solid #EB2439;
  }

  .main_nav ul li:hover ul.dropdown li a:hover {
    border-bottom: 0px solid #EB2439;
  }
  #header_top {
    background-color: #2F2F2F !important;
    height: 60px;
  }

  .main_logo {
    left: 20px;
    top: 20px;
  }

  .main_logo img {
    width: 250px;
    height: auto;
    display: block;
    min-width: none;
  }

  .slider_container {
    top: 130px;
    position: relative;
    height: 100%;
  }

  #homesection {
    display: block;
    margin-top: 225px;
    width: 100%;
    min-height: 300px;
    position: relative;
  }

  #homesection a div {
    display: block;
    width: 100%;
    height: 300px;
  }

  .main_nav_inside {
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    display: none;
    z-index: 10;
  }

  .main_nav_inside ul.parent li {
    float: left;
    top: 148px;
    width: 100%;
    margin: 0 auto;
    padding-right: 0;
    background-color: #2F2F2F;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    display: block;
    z-index: 10;
  }

  .main_nav_inside ul {
    position: relative;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
    height: auto;
    width: 100%;
    z-index: 10;
  }

  .main_nav_inside  ul li a {
    color: #ffffff;
    z-index: 60;
  }

  .main_nav_inside ul.parent li a {
    margin: 0 auto;
    left: 0;
    margin-top: 0;
    right: 0;
    text-align: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 400;
    background-color: #151515;
    width: 100%;
    height: auto;
    display: block;
    z-index: 60;
  }

  .main_nav_inside ul.parent li > ul.inside_dropdown {
    list-style-type: none;
    margin: 0 auto;
    top: -30px;
    margin-top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: relative;
    font-weight: 400;
    font-size: 25px;
    background-color: #2F2F2F !important;
    height: auto;
    color: #ffffff;
  }

  .main_nav_inside ul.parent li > ul.inside_dropdown li {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    position: relative;
    font-weight: 400;
    font-size: 25px;
    background-color: #2F2F2F !important;
    height: auto;
    color: #ffffff;
  }
  .main_nav_inside ul.parent li:hover > a {
    border-bottom: 0px solid #2F2F2F !important;
  }
  .main_nav_inside ul.inside_dropdown li a {
    margin: 0 auto;
    width: 100%;
    font-size: 25px;
    position: relative;
    background-color: #2F2F2F;
    left: 80px;
    right: 0;
    width: 100%;
    height: auto;
  }

  .main_nav_inside ul li:hover ul.inside_dropdownli:hover > a {
    border-bottom: 0px solid #2F2F2F !important;
  }

  .main_nav_inside ul li:hover ul.inside_dropdownli a:hover {
    border-bottom: 0px solid #2F2F2F !important;
  }

  .main_logo_white {
    left: 20px;
    top: 20px;
  }

  .main_logo_white img {
    width: 250px;
    height: auto;
    display: block;
    min-width: none;
  }

  .discover_box_container {
    display: none !important;
    visibility: hidden;
  }
  #homesection a div {
    min-height: 100%;
    overflow: hidden;
  }

  a .box_text {
    position: relative;
    font-size: 10vw;
    top: 15vh!important;
    overflow: hidden;
  }

  #inside_wrap {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
  }

  #content {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-bottom: 40px;

  }

  .container {
    margin: 0 auto;
    width: 83%;
    left: 0;
    right: 0;
    padding: 0px 30px;
  }

  #inside_title h1 {
    margin-top: 50px;
    position: absolute;
    font-size: 3em !important;
  }
  #divider {
    top: 500px;
    border: 0.5px solid #ffffff;
    width: 50%;
    height: 1px;
    position: absolute;
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .footer {
    display: inline-block;
    height: 850px;
  }
  footer div {
    margin: 0 auto;
  }

  #first-column {
    position: absolute;
    margin: 0 auto;
    left:0;
    right: 0;
    width: 100%;
  }

  #first-column h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  #first-column p, #first-column a {
    font-size: 1rem;
  }

  #first-column h3, #first-column p, #first-column a {
    margin: 0 auto;
    line-height: 20px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  #second-column, #third-column, #forth-column {
    display: none;
  }

  #fifth-column {
    top: 550px;
    width: 80%;
    padding: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    float:none !important;
  }
}
