{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Events" %}

{% block content %}

{% if entry.redirectUrl %}
    {% redirect entry.redirectUrl %}
{% endif %}

{% set bg_image = entry.coverImage.first() %}

<div class="inside_cover"><div id="inside_title"><h1>Sermons</h1></div><div class="inside_bg_cover"><img src="http://dev.sulphurspringsumc.com/media/sermons/sermon_cover.jpg"></div></div>
<div id="inside_wrap">
  <div id="content">
  <div class="container">
      <h2>Sermons</h2>

      {% if craft.entries.section('sermons') | length %}
      {% set pages = craft.entries.section('sermons') %}
        {% for page in pages %}
          <h3>{{ page.sermonTitle }}</h3><br>
          <div>{{ page.sermonDate | date("M d, Y") }}</div><br>
          {% set asset = page.sermonAudio.first() %}
          {% if asset %}
            <audio controls><source src="{{ asset.getUrl() }}" type="audio/mpeg"></audio><br><br>
          {% endif %}
          <div><a href="{{ page.sermonPdf.getUrl() }}"><img style="width: 20px; height: 20px; float: left; padding-right: 10px;" src="{{ siteUrl }}images/pdf_icon_24x24.png">{{ page.sermonPdf }}</a></div>
              {% if craft.entries.section('sermons') | length > 1 %}
                <div style="width: 100%; position: relative; border: 1px solid #e3e3e3;"></div>
              {% endif %}
        {% endfor %}

      {% else %}
          <div>No sermons.</div>
      {% endif %}
     </div><!-- End .container -->
     <div class="discover_box_container">
       <div class="discover_box">
       <h1>Discover More</h1>
       <ul>
         <li><a href="{{ siteUrl }}sermons">Sermons</a></li>
         <li><a href="{{ siteUrl }}events">Events</a></li>
         <li><a href="{{ siteUrl }}serve">Serve</a></li>
         <li><a href="{{ siteUrl }}belong">Belong</a></li>
       </ul>
     </div>
   </div>
   </div><!-- End #content -->

{% endblock %}
