{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Events" %}

{% block content %}

{% if entry.redirectUrl %}
    {% redirect entry.redirectUrl %}
{% endif %}

{% set bg_image = entry.coverImage.first() %}
{% set entries = craft.entries.section('events') %}

<div class="inside_cover"><div id="inside_title"><h1>Events</h1></div><div class="inside_bg_cover"><img src="{{ bg_image.getUrl }}"></div></div>
<div id="inside_wrap">
  <div id="content">
  <div class="container">
      <h2>Upcoming Events</h2>

      {% if entries %}

          {% for entry in entries %}
            <div>
              <h3>{{ entry.eventTitle }}</h3><br>
              <div id="event_graphic"><img src="{{ eventGraphic.first().url }}"></div>
              <p>{{ entry.eventDescription }}</p><br>
              <p>{{ startDate }} {% if endDate %} - {{ endDate }}{% endif %}</p><br>
              <p>{{ startTime }} {% if endTime %} - {{ endTime }}{% endif %}</p>
            </div>

          {% endfor %}

      {% else %}
        <div>No upcoming events.</div>
      {% endif %}

     </div><!-- End .container -->
     <div class="discover_box_container">
       <div class="discover_box">
       <h1>Discover More</h1>
       <ul>
         <li><a href="{{ siteUrl }}sermons">Sermons</a></li>
         <li><a href="{{ siteUrl }}events">Events</a></li>
         <li><a href="{{ siteUrl }}serve">Serve</a></li>
         <li><a href="{{ siteUrl }}belong">Belong</a></li>
       </ul>
     </div>
   </div>
   </div><!-- End #content -->

{% endblock %}
