{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Events "%}

{% block content %}

{% set bg_image = block.coverImageElement.first() %}

<div class="inside_bg_cover"><img src="{{ bg_image.url }}">
  <div id="inside_title"><h1>Events</h1></div><img src="">
</div>

<div id="inside_body_container">
  <div id="body">

       <h2>Events</h2>
       {% set block = block.insidePageElements.first() %}
       <p>Coming Soon.</p>

  </div>
</div>

{% endblock %}
