{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Events" %}

{% block content %}

{% if entry.redirectUrl %}
    {% redirect entry.redirectUrl %}
{% endif %}

{% set bg_image = entry.coverImage.first() %}

<div class="inside_cover"><div id="inside_title"><h1>{{ entry.title }}</h1></div><div class="inside_bg_cover"><img src="{{ bg_image.getUrl }}"></div></div>
<div id="inside_wrap">
  <div id="content">
      {% set topLevel = (entry.level == 1) ? entry : entry.getAncestors().level(1).first()  %}

        {% if topLevel.hasDescendants %}

            {% set subnav =  topLevel.getDescendants()  %}

            <ul class="crumbs">
              {% nav page in subnav  %}
              <li><a href="{{ page.url }}">{{page}}</a></li>
              {% endnav %}
            </ul>

       {% endif %}
  <div class="container">
      <h2>Events</h2>
      <div>No events.</div>
     </div><!-- End .container -->
   </div><!-- End #content -->

{% endblock %}
