{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Events" %}

{% block content %}

{% if entry.redirectUrl %}
    {% redirect entry.redirectUrl %}
{% endif %}

{% set bg_image = entry.coverImage.first() %}

<div class="inside_cover"><div id="inside_title"><h1>Events</h1></div><div class="inside_bg_cover"><img src="http://www.sulphurspringsumc.com/images/covers/events_cover.jpg"></div></div>
<div id="inside_wrap">
  <div id="content">

  <div class="container">
      <h2>Upcoming Events</h2><div id="calendar_pdf"><a href="{{ currentCalendarPdf.eventPdf.first().url }}"><img style="width: 20px; height: 20px; float: left; padding-right: 10px;" src="{{ siteUrl }}images/pdf_icon_24x24.png">Full Calendar</a></div>

      {% if craft.entries.section('events') | length %}
      {% set present = now %}
        {% for page in craft.entries.section('events').order('startDate').endDate('>=' ~ present) %}
          <h3>{{ page.eventTitle }}</h3><br>
          <div id="event_graphic">{% if page.eventGraphic %}<img src="{{ page.eventGraphic.first().url }}">{% endif %}</div>
          <div>{{ page.eventDescription }}</div><br>
          <div><strong>Start Date:</strong> {{ page.startDate | date("M d, Y") }} {% if page.endDate %}<br> <strong>End Date:</strong> {{ page.endDate | date("M d, Y") }}{% endif %}</div><br>
          <div>{{ page.startTime.localeTime() }} {% if page.endTime %} - {{ page.endTime.localeTime() }}{% endif %}</div><br><br>
          <div style="width: 100%; position: relative; border: 1px solid #e3e3e3;"></div>
        {% endfor %}

      {% else %}
          <div>No upcoming events.</div>
      {% endif %}

    </div><!-- End .container -->
    <div class="discover_box_container">
      <div class="discover_box">
      <h1>Discover More</h1>
      <ul>
        <li><a href="{{ siteUrl }}sermons">Sermons</a></li>
        <li><a href="{{ siteUrl }}events">Events</a></li>
        <li><a href="{{ siteUrl }}serve">Serve</a></li>
        <li><a href="{{ siteUrl }}belong">Belong</a></li>
      </ul>
    </div>
  </div>
   </div><!-- End #content -->


{% endblock %}
