{#
 # Serve entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

{% if entry.redirectUrl %}
    {% redirect entry.redirectUrl %}
{% endif %}

{% set bg_image = entry.coverImage.first() %}



<div class="inside_cover"><div id="inside_title"><h1>{{ entry.title }}</h1></div><div class="inside_bg_cover"><img src="{{ bg_image.getUrl }}"></div></div>
<div id="inside_wrap">
  <div id="content">
  <div class="container">
      <h2>{{ entry.title }}</h2>

       {% for block in entry.insidePageElements %}
          {% switch block.type %}
              {% case "text" %}
                  <div>{{ block.textField }}</div>

              {% case "image" %}
                  <div><img src="{{ block.imageBlock.first().url }}"></div>

              {% case "video" %}
                  <div>{{ block.videoBlock.first() }}</div>

              {% case "form" %}

              {% default %}
                  <p>No content found.</p>

          {% endswitch %}
       {% endfor %}

       {% for block in entry.staffDirectory %}
          {% switch block.type %}
              {% case "staffMember" %}
                <div class="staff_member">
                  <div id="profile"><img src="{{ siteUrl }}{{ block.profile.first().url }}"></div>
                  <div id="full_name">{{ block.fullName }}</div>
                  <div id="title"><em>{{ block.jobTitle }}</em></div>
                  <div id="bio">{{ block.bio }}</div>
                  <div id="staff_email"><a href="mailto:{{ block.emailAddress }}">{{ block.emailAddress }}</a></div>
                </div>
              {% default %}
                  <p>No content found.</p>

          {% endswitch %}
       {% endfor %}
     </div><!-- End .container -->
     <div class="discover_box_container">
       <div class="discover_box">
       <h1>Discover More</h1>
       <ul>
         <li><a href="{{ siteUrl }}sermons">Sermons</a></li>
         <li><a href="{{ siteUrl }}events">Events</a></li>
         <li><a href="{{ siteUrl }}serve">Serve</a></li>
         <li><a href="{{ siteUrl }}belong">Belong</a></li>
       </ul>
     </div>
   </div>
   </div><!-- End #content -->

{% endblock %}
