<div class="form_container">
  <form id="contact" method="post" action="scripts/contactus.php">
    {{ getCsrfInput() }}
    <input type="text" name="firstname" class="name" placeholder="First Name" required>
    <input type="text" name="lastname" class="name" placeholder="Last Name" required>
    <input type="email" name="emailaddress" class="emailaddress" placeholder="Email Address" required>
    <textarea name="message" placeholder="Message" class="message" required></textarea>
    <input type="submit" name="submit" class="submit" value="submit">
  </form>
</div>

<script>
$("#contact").submit(function() {

  var url = "/scripts/contactus.php"; //the script to handle the form input.

  $.ajax({
        type: "POST",
        url: url,
        //serialize your form's elements.
        data: $("#contact").serialize(),
        success: function(data)
        {
            //class of the form wrapper
            $('.form_container').html(data);
        }
  });
  return false;
})
</script>
