{% set sendTo = block.mailTo %}
<link rel="stylesheet" href="{{ siteUrl }}css/forms.css">
<div class="form_container">
  <div id="form-messages"></div>
  <form id="ajax-contact" method="post" action="{{ siteUrl }}scripts/contact.php">
      <div class="field">
          <input type="text" id="name" name="name" placeholder="Full Name" required>
      </div>

      <div class="field">
          <input type="email" id="email" name="emailaddress" placeholder="Email Address" required>
      </div>

      <div class="field">
          <textarea id="message" name="message" placeholder="Comments" required></textarea>
      </div>

      <div class="field">
          <input type="hidden" name="mailto" class="mailto" value="{{ sendTo }}">
          <button name="submit" type="submit">Send</button>
      </div>
  </form>
</div>
