<footer class="footer">
  <div id="first-column">
        <h3>Service Times</h3>
        <p>{{ serviceTimes.serviceTimesField }}</p>
        <h3>Contact</h3>
        <p>{{ footerContact.location }}</br><a href="tel:{{ footerContact.phoneNumber }}">{{ footerContact.phoneNumber }}</a></p>
        <h3>Office Hours</h3>
        <p>{{ footerOfficeHours.officeHours }}</p>
        <div id="divider"></div>
  </div>
<div class="footer-container">
  <div id="second-column">
    <ul>
      <li><h3>I'm New</h3></li>
      <li><a href="{{ siteUrl }}im-new/about-our-church">About Our Church</a></li>
      <li><a href="{{ siteUrl }}im-new/history">History</a></li>
      <li><a href="{{ siteUrl }}im-new/what-we-believe">What We Believe</a></li>
      <li><a href="{{ siteUrl }}im-new/membership">Membership</a></li>
    </ul>
  </div>
  <div id="third-column">
    <ul>
      <li><h3>Connect</h3></li>
      <li><a href="{{ siteUrl }}connect/children">Children</a></li>
      <li><a href="{{ siteUrl }}connect/youth">Youth</a></li>
      <li><a href="{{ siteUrl }}connect/adult-small-groups">Adult Small Group</a></li>
      <li><a href="{{ siteUrl }}connect/worship">Worship</a></li>
    </ul>
  </div>
  <div id="forth-column">
    <ul>
      <li><h3>Missions</h3></li>
      <li><a href="{{ siteUrl }}missions/um-men-and-women">UM Men & Women</a></li>
      <li><a href="{{ siteUrl }}missions/upper-room-quilters">Upper Room Quilters</a></li>
      <li><a href="{{ siteUrl }}missions/harvest-festival">Harvest Festival</a></li>
    </ul>
  </div>
  <div id="fifth-column">
    <h3>Join Our Newsletter</h3>
    <p>Register to receive our monthly<br>newsletter sent directly to your email.</p>
    <div>
      <form action="//sulphurspringsumc.us16.list-manage.com/subscribe/post?u=12bba37f7beae36988cb96fd5&amp;id=fe0a3cb1ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="mc_email" class="mc_email" id="mce-EMAIL" placeholder="Email Address" required>
        <input type="submit" name="mc_submit" class="mc_submit" value="Subscribe">
      </form>
      <p><a href="{{ currentNewsletter.newsletterPdf.first().url }}">View Current Newsletter</p>
    </div>
  </div>
  </div>
  <div id="copyright">&copy {{ now.year }} {{ siteName }}. All rights reserved  •  Designed by <a href="http://www.reachnative.com">Reach Native</a></div>

</footer>
</div><!-- End #inside_wrap-->
</div><!-- End Wrap -->
<script src="{{ siteUrl }}scripts/jquery-2.1.0.min.js"></script>
<script src="{{ siteUrl }}scripts/app.js"></script>
<script src="{{ siteUrl }}scripts/contact_app.js"></script>
</body>
</html>
