{% if craft.request.getSegment(1) == '' %}
    <header id="header_top">
          <div class="main_logo"><a href="{{ siteUrl }}"><img src="{{ siteUrl }}/images/ssumc_logo.png"></a></div>

      {% set parents = craft.entries.section('menu').getAncestors().level(1).limit(5) %}
      <nav class="main_nav">
          <ul class="parent">
            {% nav parent in parents %}
            <li id="parent_link">
              {{ parent.getLink() }}

              {% if parents.hasDescendants  %}
                {% set children = parent.getDescendants() %}

                  <ul class="dropdown">
                    {% for child in children %}
                      <li>{{ child.getLink() }}</li>
                    {% endfor %}
                  </ul>
              {% endif %}
            </li>
              {% endnav %}
          </ul>

      </nav>
    </header>

{% else %}
    <header id="header_inside">
          <div class="main_logo_white"><a href="{{ siteUrl }}"><img src="{{ siteUrl }}/images/ssumc_logo_white.png"></a></div>

      {% set parents = craft.entries.section('menu').getAncestors().level(1).limit(5) %}
      <nav class="main_nav_inside">
        <ul class="parent">
          {% nav parent in parents %}
          <li class="{{ page.id == entry.id ? 'active' }}">
            {{ parent.getLink() }}

            {% if parents.hasDescendants  %}
              {% set children = parent.getDescendants() %}

                <ul class="inside_dropdown">
                  {% for child in children %}
                    <li>{{ child.getLink() }}</li>
                  {% endfor %}
                </ul>
            {% endif %}
          </li>
            {% endnav %}
        </ul>


      </nav>
    </header>

{% endif %}

<script>
$.each($("ul > li"), function (index, obj) {
    if ($(obj).has("ul").length) {
        $(obj).has("ul").find("a:first").removeAttr("href").css("cursor", "default");
    }
});
</script>
