<div class="btn-bar">
    <div id="buttons"><a id="prev" href="#"></a><a id="next" href="#"></a></div></div>

<div class="slider_container">
    <div class="slider">
      {% set image = entry.homepageBackground.first() %}
        <img src="{{ image.url }}">
{% for block in entry.homepageSlider %}
        <ul>
            <li><div id="text">{{ block.slideText }}</div></li>

        </ul>
{% endfor %}
      <div class="slider_button"><a href="http://dev.sulphurspringsumc.com/discover">Discover More</a></div>
    </div>
    <script>/*$(document).ready(function(){
        $("#text").delay(10000).animate({left: '-5000px'}, 1500);

      }); */


//Slider Settings
// hide all quotes except the first
$('li #text').hide().eq(0).show();

var pause = 10000;
var motion = 1000;

var quotes= $('li #text');
var count = quotes.length;
var i = 0;

setTimeout(transition,pause);

function transition(){
    quotes.eq(i).animate({opacity:'toggle'}, motion);

    if(++i>=count){
        i=0;
    }

    quotes.eq(i).animate({opacity:'toggle'}, motion);

    setTimeout(transition, pause);
}
      </script>
</div>
